.app-button-container{
    margin: 17px;
    text-align: center;
    margin-top: 25px;
    padding-top: 5px;
    


}
.app-button-component{
    margin: 10px;
    font-size: 20px;
    color: white;
    margin: 10px;
    font-size: 14px;
    border: skyblue;
    background-color: skyblue;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
    padding: 13px;
    font-size: medium;
    margin: 15px;
    padding-inline: 22px;
}